# Игнорировать все файлы журнала
**.log

# Игнорировать директории, создаваемые системой или средами разработки
**.DS_Store
**.idea/
**.vscode/

# Игнорировать скомпилированные исполняемые файлы
*.exe
*.out
*.app

# Игнорировать временные файлы
**.tmp
**.swp
**.swo
**.bak

# Игнорировать директорию для сборки
/build/
dist/

# Игнорировать зависимости (например, в проектах Node.js или Python)
node_modules/
vendor/
__pycache__/

# Игнорировать файлы окружения и конфигурации
**.env
.env.local
config/*.local

# Игнорировать файлы баз данных
*.sqlite
*.db